body {
    font-size: 20px;
    overflow: auto;
    white-space: nowrap;
    height: 95vh;
}

input[type=number]{
    padding: 6px 10px;
    margin: 8px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:disabled {
    background-color: #3d8c40;
    cursor: not-allowed;
}